.form {
    display: grid;
    flex-direction: column;
}

.formContainer {
    border: 2px solid #535bf267;
    border-radius: 15px;
    width: 300px;
    padding: 4rem;

}

.formToggle button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 0.25rem;
}

.formToggle button:hover {
    background-color: transparent;
    border: none;
    color: #535bf2;
}

.formToggle button:focus,
.formToggle button:focus-visible {
    outline: unset;
    color: #535bf2;
}

.formToggle p {
    display: inline;
}

.form button {
    margin: 2rem auto;
    width: 40%;

}

.form input {
    padding: 0.55rem;
}
